<div *ngIf="user">
  <h2>{{user.value.title}} {{user.value.firstName}} {{user.value.lastName | uppercase}} Details</h2>
  <div>ID: {{user.key}}</div>
  <div>Name: {{user.value.title}} {{user.value.firstName}} {{user.value.lastName}}</div>
  <div>Joined At: {{user.value.joinedAt | date:'medium'}}</div>
</div>
<div *ngIf="!user">
  <p>
    <i>[This User was deleted.]</i>
  </p>
</div>

<!--<div *ngIf="user">
    <h2>{{user[1].title}} {{user[1].firstName}} {{user[1].lastName | uppercase}} Details</h2>
    <hr>
    <div>ID: {{user[0]}}</div>
    <div>Name: {{user[1].title}} {{user[1].firstName}} {{user[1].lastName}}</div>
    <div>Joined At: {{user[1].joinedAt*1000 | date}}</div>
</div>-->

<button type="button" (click)="goBack()">Go Back</button>
